[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
"flake8" = "*"
rope = "*"
pytest = "*"

[packages]
tensorflow = "*"
sklearn = "*"

[requires]
python_version = "3.6"

[scripts]
test = "pytest mgc/tests"
